In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
coffee_df = pd.read_excel("Monthly Return_Coffee Products.xlsx", parse_dates = True)
alc_df = pd.read_excel("Monthly Return_Alcoholic Products.xlsx", parse_dates = True)
nber_df = pd.read_csv("USREC.csv")
fama_df = pd.read_excel("FamaFrench.xlsx",  index_col = 0, parse_dates = True)

# Transforming Data Sets using Pivots

## coffee_df

In [27]:
coffee_df["Ticker Symbol"].unique()

array(['FARM', 'GMCR', 'PEET', 'JVA'], dtype=object)

In [9]:
coffee_df

,PERMNO,Names Date,Standard Industrial Classification Code,Ticker Symbol,Company Name,Price or Bid/Ask Average
0,34367,1972-12-29,2095,FARM,FARMER BROTHERS CO,-25.875
1,34367,1973-01-31,2095,FARM,FARMER BROTHERS CO,-20.500
2,34367,1973-02-28,2095,FARM,FARMER BROTHERS CO,-17.250
3,34367,1973-03-30,2095,FARM,FARMER BROTHERS CO,-16.125
4,34367,1973-04-30,2095,FARM,FARMER BROTHERS CO,-12.875
...,...,...,...,...,...,...
1114,90679,2021-08-31,2095,JVA,COFFEE HOLDING CO INC,4.970
1115,90679,2021-09-30,2095,JVA,COFFEE HOLDING CO INC,4.550
1116,90679,2021-10-29,2095,JVA,COFFEE HOLDING CO INC,4.440
1117,90679,2021-11-30,2095,JVA,COFFEE HOLDING CO INC,4.390
1118,90679,2021-12-31,2095,JVA,COFFEE HOLDING CO INC,4.390

In [10]:
coffee_df.dtypes

PERMNO                                              int64
Names Date                                 datetime64[ns]
Standard Industrial Classification Code             int64
Ticker Symbol                                      object
Company Name                                       object
Price or Bid/Ask Average                          float64
dtype: object

In [11]:
coffee_df.index

RangeIndex(start=0, stop=1119, step=1)

In [15]:
coffee_pivot = coffee_df.pivot(index = "Names Date", columns = "Ticker Symbol", values = "Price or Bid/Ask Average")
coffee_pivot

Ticker Symbol    FARM  GMCR   JVA  PEET
Names Date
1972-12-29    -25.875   NaN   NaN   NaN
1973-01-31    -20.500   NaN   NaN   NaN
1973-02-28    -17.250   NaN   NaN   NaN
1973-03-30    -16.125   NaN   NaN   NaN
1973-04-30    -12.875   NaN   NaN   NaN
...               ...   ...   ...   ...
2021-08-31      7.400   NaN  4.97   NaN
2021-09-30      8.410   NaN  4.55   NaN
2021-10-29      7.550   NaN  4.44   NaN
2021-11-30      6.290   NaN  4.39   NaN
2021-12-31      7.450   NaN  4.39   NaN

[589 rows x 4 columns]

In [16]:
coffee_pivot.isna().sum()

Ticker Symbol
FARM      0
GMCR    402
JVA     389
PEET    448
dtype: int64

In [21]:
coffee_pivot.dtypes

Ticker Symbol
FARM    float64
GMCR    float64
JVA     float64
PEET    float64
dtype: object

## alc_df

In [30]:
alc_df.dtypes

PERMNO                                              int64
Names Date                                 datetime64[ns]
Standard Industrial Classification Code             int64
Ticker Symbol                                      object
Company Name                                       object
Price or Bid/Ask Average                          float64
dtype: object

In [32]:
len(alc_df["Ticker Symbol"].unique())

94

In [20]:
alc_df.duplicated("Names Date")

0        False
1        False
2        False
3        False
4        False
         ...
12033     True
12034     True
12035     True
12036     True
12037     True
Length: 12038, dtype: bool

In [33]:
alc_pivot = alc_df.pivot_table(index = "Names Date", columns = "Ticker Symbol", values = "Price or Bid/Ask Average")
alc_pivot

Ticker Symbol,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,SXC,TAP,TBVT,TFI,TFZ,THT,THTR,TYLR,VCO,VO
Names Date,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-09-28,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31,3.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-6.887501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-30,2.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-3.660000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-29,2.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-6.307501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-30,2.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,48.924999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-31,2.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,52.174999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Merging Sin and Productivity Stocks

In [37]:
stonks = pd.concat([alc_pivot, coffee_pivot], axis = 1, join = "outer")
stonks

Ticker Symbol,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,TFZ,THT,THTR,TYLR,VCO,VO,FARM,GMCR,JVA,PEET
Names Date,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-09-28,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31,3.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.40,NaN,4.97,NaN
2021-09-30,2.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.41,NaN,4.55,NaN
2021-10-29,2.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.55,NaN,4.44,NaN
2021-11-30,2.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.29,NaN,4.39,NaN
2021-12-31,2.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.45,NaN,4.39,NaN

In [36]:
fama_df

,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor
Date (SAS). Last Trading Day of the Month,,,,
1926-07-31,0.0296,-0.0238,-0.0273,NaN
1926-08-31,0.0264,-0.0147,0.0414,NaN
1926-09-30,0.0036,-0.0139,0.0012,NaN
1926-10-30,-0.0324,-0.0013,0.0065,NaN
1926-11-30,0.0253,-0.0016,-0.0038,NaN
...,...,...,...,...
2020-08-31,0.0763,-0.0022,-0.0293,0.0051
2020-09-30,-0.0363,-0.0004,-0.0266,0.0305
2020-10-30,-0.0210,0.0439,0.0419,-0.0303
2020-11-30,0.1247,0.0574,0.0199,-0.1225
2020-12-31,0.0463,0.0483,-0.0156,-0.0242

# Merging Stocks and Fama French

In [52]:
stonks_fama = pd.concat([stonks, fama_df], axis = 1, join = "inner")
stonks_fama

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VCO,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0628,0.0163,-0.0357,0.0055
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0213,0.0125,-0.0121,-0.0058
1962-09-28,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0522,-0.0248,0.0134,0.0395
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0005,-0.0401,0.0135,0.0075
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.1087,0.0259,0.0099,-0.0717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.29,NaN,3.19,NaN,0.0763,-0.0022,-0.0293,0.0051
2020-09-30,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.42,NaN,3.48,NaN,-0.0363,-0.0004,-0.0266,0.0305
2020-10-30,2.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.47,NaN,3.81,NaN,-0.0210,0.0439,0.0419,-0.0303
2020-11-30,2.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.45,NaN,3.94,NaN,0.1247,0.0574,0.0199,-0.1225
2020-12-31,3.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.67,NaN,3.84,NaN,0.0463,0.0483,-0.0156,-0.0242

I use an inner join (Intercepts only) because it doesn't make sense to care about Fama French data when there's no equity data available anyway.

# Merging Stocks + Fama French AND US Recession Dummies

In [41]:
nber_df

            DATE  USREC
0     1854-12-01      1
1     1855-01-01      0
2     1855-02-01      0
3     1855-03-01      0
4     1855-04-01      0
...          ...    ...
2004  2021-12-01      0
2005  2022-01-01      0
2006  2022-02-01      0
2007  2022-03-01      0
2008  2022-04-01      0

[2009 rows x 2 columns]

In [42]:
nber_df.dtypes

DATE     object
USREC     int64
dtype: object

In [43]:
nber_df["DATE"] = pd.to_datetime(nber_df["DATE"])

## Converting dates to last day of the month

In [54]:
from pandas.tseries.offsets import MonthEnd

nber_df["DATE"] = pd.to_datetime(nber_df["DATE"]) + MonthEnd(0)
nber_df.set_index("DATE", inplace=True)
nber_df

            USREC
DATE
1854-12-31      1
1855-01-31      0
1855-02-28      0
1855-03-31      0
1855-04-30      0
...           ...
2021-12-31      0
2022-01-31      0
2022-02-28      0
2022-03-31      0
2022-04-30      0

[2009 rows x 1 columns]

In [57]:
final_merged = pd.concat([stonks_fama, nber_df], axis = 1, join = "inner")

final_merged

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor,USREC
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0628,0.0163,-0.0357,0.0055,0
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0213,0.0125,-0.0121,-0.0058,0
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0005,-0.0401,0.0135,0.0075,0
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.1087,0.0259,0.0099,-0.0717,0
1962-12-31,NaN,NaN,NaN,2.5,NaN,38.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0101,-0.0380,0.0035,0.0588,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-31,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.98,NaN,2.81,NaN,0.0577,-0.0227,-0.0146,0.0761,0
2020-08-31,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.29,NaN,3.19,NaN,0.0763,-0.0022,-0.0293,0.0051,0
2020-09-30,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.42,NaN,3.48,NaN,-0.0363,-0.0004,-0.0266,0.0305,0
2020-11-30,2.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.45,NaN,3.94,NaN,0.1247,0.0574,0.0199,-0.1225,0
2020-12-31,3.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.67,NaN,3.84,NaN,0.0463,0.0483,-0.0156,-0.0242,0

In [58]:
final_merged.to_csv("stocks_fama_recession.csv")