In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading in Files

In [10]:
stocks_df = pd.read_csv("stocks_fama_recession.csv", parse_dates = ["Unnamed: 0"])
stocks_df.set_index("Unnamed: 0", inplace=True)
stocks_df.index.name = "Date"
stocks_df.head()

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor,USREC
Date,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0628,0.0163,-0.0357,0.0055,0
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0213,0.0125,-0.0121,-0.0058,0
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0005,-0.0401,0.0135,0.0075,0
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.1087,0.0259,0.0099,-0.0717,0
1962-12-31,NaN,NaN,NaN,2.5,NaN,38.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0101,-0.0380,0.0035,0.0588,0

# Storing Names of Sin and Non-Sin Stocks in Variables

In [11]:
non_sin_df = pd.read_excel("Monthly Return_Coffee Products.xlsx", parse_dates = True)
sin_df = pd.read_excel("Monthly Return_Alcoholic Products.xlsx", parse_dates = True)

In [12]:
sin_df.head()

,PERMNO,Names Date,Standard Industrial Classification Code,Ticker Symbol,Company Name,Price or Bid/Ask Average
0,10225,2011-10-31,2082,BEAM,BEAM INC,49.430000
1,10225,2011-11-30,2082,BEAM,BEAM INC,52.520000
2,10225,2011-12-30,2082,BEAM,BEAM INC,51.230000
3,10225,2012-01-31,2082,BEAM,BEAM INC,52.310001
4,10225,2012-02-29,2082,BEAM,BEAM INC,55.080002

In [14]:
sin_stocks = sin_df["Ticker Symbol"].unique()
sin_stocks

array(['BEAM', 'BEER', 'PFB', 'ABW', 'GBL', 'RUP', 'CNB', 'CKB', 'FAL',
       'FALB', 'DRE', 'NBW', 'GENBB', 'RG', 'RGLD', 'SLZ', 'SFR', 'KNBWY',
       'GRRR', nan, 'LONE', 'GHB', 'ABUD', 'BUD', 'ACCOB', 'RKY', 'TAP',
       'PABT', 'OLYB', 'PTBC', 'HAN', 'BAS', 'SXC', 'CU', 'CCU', 'THT',
       'HOOK', 'BREW', 'SAM', 'CFN', 'IBCO', 'BRH', 'ABV', 'ABEV', 'AED',
       'MLB', 'LQU', 'ROX', 'CREG', 'BORN', 'FO', 'MWGP', 'MGPI', 'AFTI',
       'DR', 'CUE', 'BACA', 'BBRL', 'ADC', 'SH', 'DCS', 'VO', 'HIR',
       'CHLN', 'CGAS', 'BJD', 'BFD', 'BF', 'CDL', 'DIL', 'GDS', 'SBR',
       'HBL', 'TFZ', 'TFI', 'HTC', 'JACQ', 'BBR', 'CNWN', 'CDG', 'CDB',
       'STZ', 'RAIN', 'TBVT', 'TYLR', 'THTR', 'DEO', 'RUM', 'VCO', 'ADSO',
       'NDC', 'GWT', 'CEDC', 'PTT'], dtype=object)

In [15]:
non_sin_stocks = non_sin_df["Ticker Symbol"].unique()
non_sin_stocks

array(['FARM', 'GMCR', 'PEET', 'JVA'], dtype=object)

# Constructing Basic Portfolio